.footer {
  .footer-part-box {
    min-height: 160px;
    padding: 0 15px;
    .shop-box {
      background: rgba(238, 238, 238, 0.91);
      padding: 20px 20px;
      .col-xs-4 {
        padding: 0 5px;
        img {
          padding: 0;
          height: 50px;
          border: 1px solid #eee;
        }
      }
    }
  }
}