.about-box {
  .title {
    color: #28883B;
    text-align: center;
  }
  .show-text-box {
    margin-top: 10px;
    .col-xs-6 {
      background: #fff;
      padding: 10px;
    }
  }
  .join-us-phone {
    font-size: 15px;
    text-align: center;
    margin: 10px;
  }
}