.tab-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background: #ddd;
  display: block;
  .bar-list {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: row;
    .bar-list-item {
      flex: 1;
      padding: 0px;
      text-align: center;
    }
    .bar-icon {
      height: 30px;
      width: 30px;
      &.svg-qq {
        background: url("../images/svg_qq.svg") no-repeat;
      }
    }
  }

}