/*定义基础样式*/
* {
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 13px;
}

.navbar {
  margin-bottom: 0;
}

body {
  background: url("../images/header_bg.png");
}

.footer, .header {
}

/*组件*/
@import "sass/_widget";
@import "sass/_tab";
@import "sass/_colums";
@import 'sass/_header';
@import 'sass/_footer';
@import 'sass/_index';
@import 'sass/_about';
@import "sass/_sleep_center";
@import "sass/_tabbar";
@import "sass/_swiper";

@import "sass/_join_us";